@charset "UTF-8";
/* ------------------------------------------------------------ */
@font-face {
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */ }

@font-face {
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */ }

@font-face {
  src: url(../fonts/);
  /* Путь к файлу со шрифтом */ }

/* ------------------------------------------------------------ */
.custom {
  width: 100%;
  height: 100%; }

html {
  scroll-behavior: smooth; }

html, body {
  min-width: 320px; }

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333; }

.container {
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .container {
      right: 0px;
      padding: 0px; } }
  @media screen and (max-width: 480px) {
    .container {
      right: 0px;
      padding: 0px; } }

.page-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  overflow: hidden;
  vertical-align: top; }

/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section 1 */
/* --------------------------------------------- */
html, body, .photo, .photo > img {
  width: 100%;
  height: 100%; }

.section-1 {
  overflow: hidden;
  min-height: 839px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section-1__header {
  min-height: 109px; }

.section-1__slider {
  position: relative;
  min-height: 730px;
  background: url("../img/bg-sect-1.png");
  background-color: #0d68ae;
  background-size: cover;
  background-position: center top; }

.header_nav {
  padding-left: 20%;
  max-width: 1169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header_nav ul {
  list-style-type: none; }

.header_nav ul li p {
  font-family: 'Raleway', Arial, sans-serif; }

.logo-head {
  font-weight: bold;
  font-size: 30px;
  padding-right: 19px;
  color: #3c3d42; }

.height-fix {
  margin-top: 23px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-txt {
  font-weight: 400;
  font-size: 14px;
  padding-right: 18px; }

.header_nav ul li p a {
  text-decoration: none;
  color: #3c3d42; }
  .header_nav ul li p a:hover {
    color: red;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s; }

.header_nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header_nav-left li {
  padding-right: 15px; }

.header_nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
  padding-left: 0; }

.header_nav-right li {
  padding-right: 15px; }

.header_nav-right li:nth-child(2) {
  width: 89px; }

.header_nav-right li:nth-child(3) {
  height: 13px;
  padding-top: 5.3%; }

.header_nav-right li:first-child {
  height: 14px;
  padding-top: 5.3%; }

.header_nav-right li:first-child,
.header_nav-right li:nth-child(3) {
  padding-top: 3.4%; }

.header_nav-right li:nth-child(2),
.header_nav-right li:nth-child(4) {
  padding-top: 0.5%; }

.img-first {
  padding-left: 266px; }

.tel-fx {
  margin-left: -5px; }

.mail-fx {
  padding-left: 25px; }

/* ---------- */
/* ---------- */
/* Slider */
/* ---------- */
body {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

.slider_wrap {
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slider_wrap img {
  width: 100%;
  position: absolute; }

.slider_wrap img:first-child {
  display: block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }

.slider_wrap span {
  margin-top: -13px;
  width: 15px;
  height: 26px;
  display: block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  background: url("../img/slider2_arrow.png") no-repeat; }

.slider_wrap span.next {
  right: 1.4%;
  background-position: -15px 0; }

.slider_wrap span.next:hover {
  background-position: -15px -26px; }

.slider_wrap span.prev {
  left: 1%;
  background-position: 0 0; }

.slider_wrap span.prev:hover {
  background-position: 0 -26px; }

.slide {
  position: absolute;
  bottom: 43%;
  left: 20%;
  width: 487px; }

.slide p {
  font-family: 'Raleway', Arial, sans-serif; }

.slide p:nth-child(1) {
  margin-bottom: 0;
  font-weight: 550;
  font-size: 36px;
  color: white; }

.slide p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  color: white; }

.slide p:nth-child(3) {
  padding-top: 46px;
  padding-bottom: 56px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  color: #9dc7d1; }

.slide span {
  background: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px 50px 50px 50px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(13, 72, 98, 0);
  width: 238px;
  height: 59px;
  cursor: pointer;
  margin-top: 30%; }
  .slide span:hover {
    border-color: white;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s; }

.slide span a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  color: white;
  position: absolute;
  top: 18px;
  padding-left: 25%;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */ }
  .slide span a:hover {
    color: #9dc7d1;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s; }

/*.slide button {
    background: none;
    border-style: solid;
    border-width: 3px;
    border-radius: 50px 50px 50px 50px;
    border-color: rgba( 255, 255, 255, 0.5 );
    background-color: rgba( 13, 72, 98, 0 );
    width: 238px;
    height: 59px;
    cursor: pointer;
    
    &:hover {
        border-color: rgb( 255, 255, 255 );
        transition: 0.7s;
    }
    
}
.slide button a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    color: white;

    &:hover {
        color: rgb( 157, 199, 209 );
        transition: 0.7s;
    }
}*/
/* ---------- */
/* ---------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
.section-2 {
  min-height: 983px; }

.section-2 h1,
.section-2__info {
  text-align: center; }

.section-2 h1 {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 36px;
  color: #636c6c;
  font-weight: bold;
  padding-top: 1%; }

.section-2__info {
  font-size: 16px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #afb8b8;
  line-height: 1.5; }

/* ---------- */
/* ---------- */
/* Slider */
/* ---------- */
body,
#slideshow,
#slideshow-nav,
.slideshow--,
.slideshow-- li,
.slideshow--img {
  margin: 0;
  padding: 0;
  border: 0; }

#slideshow {
  width: 918px;
  height: 546px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 100px auto 50px auto;
  padding-left: 69px; }

#slideshow ul {
  width: 4590px;
  list-style: none; }
  #slideshow ul li {
    float: left; }
  #slideshow ul h1 {
    margin-top: -97px;
    margin-right: 25%;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 24px;
    color: #636c6c;
    font-weight: bold; }
  #slideshow ul p {
    width: 639px;
    margin-left: 27%;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    color: #afb8b8;
    line-height: 1.5; }

#slideshow-nav {
  width: 250px;
  visibility: hidden;
  width: 250px;
  margin-top: -28%;
  margin-left: 35%;
  margin-right: auto; }
  #slideshow-nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #slideshow-nav ul li {
      padding-bottom: 0;
      /* float: left; */ }
      #slideshow-nav ul li a {
        display: block;
        width: 11px;
        float: left;
        background-color: #dbe2e2;
        text-decoration: none;
        color: #9fa9a9;
        padding-bottom: 6%;
        /* height: 30px; */
        /* height: 602px; */
        /* height: 30px; */
        /* margin: 0 10px; */
        /* border-radius: 30px; */
        /* -webkit-box-shadow: 0px 0px 30px #000; */
        /* box-shadow: 0px 0px 30px; */ }
        #slideshow-nav ul li a:hover,
        #slideshow-nav ul li a #slideshow-nav ul li a.active {
          background-color: #5dca88; }
        #slideshow-nav ul li a p {
          width: 191px;
          /* margin-top: 9%; */
          /* margin-right: -4px; */
          position: relative;
          left: -2000%;
          font-family: 'Raleway', Arial, sans-serif;
          font-size: 20px; }

.slideshow--a {
  margin-left: -303px; }

a {
  outline: none; }

a:focus {
  background-color: #a89d8a; }

/* ---------- */
/* ---------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
.section-3 {
  background-color: #f2f9fe;
  min-height: 820px; }

.section-3__left-right {
  width: 100%;
  height: 100%;
  position: relative;
  top: 79px;
  left: -25%;
  /* margin-right: 54%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.section-3-left,
.section-3-right {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25%;
  margin: auto; }

.section-3-left h1 {
  font-size: 36px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #5dca88;
  font-weight: bold; }

.section-3-left h2 {
  font-size: 36px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #8c9494; }

.section-3-left p {
  width: 410px;
  margin-bottom: 11%;
  font-size: 16px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #8c9494;
  line-height: 1.5; }

.section-3-left span {
  background: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px 50px 50px 50px;
  border-color: #636c6c;
  background-color: rgba(13, 72, 98, 0);
  cursor: pointer;
  padding-top: 7%;
  opacity: 0.5; }
  .section-3-left span:hover {
    color: #127088;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s; }
  .section-3-left span a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    color: #636c6c;
    font-weight: bold;
    padding-right: 6%;
    position: relative;
    padding-left: 6%;
    top: -15px;
    font-family: 'Raleway', Arial, sans-serif;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */ }
    .section-3-left span a:hover {
      color: #127088;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s; }

.smartphone-img {
  bottom: -440px;
  position: absolute;
  right: 1%; }

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
.section-4 {
  min-height: 1140px; }
  .section-4 h1 {
    margin-top: 103px;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #636c6c;
    font-weight: bold;
    text-align: center; }
  .section-4 h2 {
    margin-top: 32px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #afb8b8;
    line-height: 1.5;
    text-align: center; }

.slider4 {
  width: 1476px;
  position: relative;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  margin-bottom: 15px; }

.slider4 .item .item-bg {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.slider4 .prev, .slider4 .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.slider4 .next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.slideText1 {
  width: 246px;
  position: absolute;
  font-size: 35px;
  left: 50%;
  bottom: -103px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #afb8b8;
  line-height: 1.5;
  text-align: center; }

.slideText2 {
  width: 246px;
  position: absolute;
  font-size: 35px;
  left: 25.5%;
  bottom: -103px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #afb8b8;
  line-height: 1.5;
  text-align: center; }

.slideText3 {
  width: 246px;
  position: absolute;
  font-size: 35px;
  right: 9%;
  bottom: -103px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: black;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #afb8b8;
  line-height: 1.5;
  text-align: center; }

.item__flex-smarts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  left: 50%;
  top: 10%;
  position: absolute; }

.slider4 .item {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }

.color-number1 {
  color: green; }

.color-number2 {
  color: red; }

.color-number3 {
  color: blue; }

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
.section-5 {
  min-height: 820px;
  background-color: #f2f9fe; }

.section-5__left-right {
  width: 100%;
  height: 100%;
  position: relative;
  top: 79px;
  left: -25%;
  /* margin-right: 54%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.section-5-left,
.section-5-right {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25%;
  margin: auto;
  padding-left: 35px; }

.section-5-right h1 {
  font-size: 36px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #5dca88;
  font-weight: bold; }

.section-5-right h2 {
  font-size: 36px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #8c9494; }

.section-5-right p {
  width: 410px;
  margin-bottom: 11%;
  font-size: 16px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #8c9494;
  line-height: 1.5; }

.section-5-right span {
  background: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px 50px 50px 50px;
  border-color: #636c6c;
  background-color: rgba(13, 72, 98, 0);
  cursor: pointer;
  padding-top: 7%;
  opacity: 0.5; }
  .section-5-right span:hover {
    color: #127088;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s; }
  .section-5-right span a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    color: #636c6c;
    font-weight: bold;
    padding-right: 6%;
    position: relative;
    padding-left: 6%;
    top: -15px;
    font-family: 'Raleway', Arial, sans-serif;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */ }
    .section-5-right span a:hover {
      color: #127088;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s; }

.two-smartphones {
  bottom: -440px;
  position: absolute;
  left: 0; }

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
.section-6 {
  min-height: 560px; }

/* --------------------------------------------- */
/* В основе взято с https://habr.com/ru/post/252075/ */
.wrapper6 {
  height: 332px;
  margin: 104px auto 0;
  position: relative;
  width: 663px; }

.slider6 {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit; }

.slides {
  text-align: center;
  height: inherit;
  position: absolute;
  width: inherit;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
  -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s; }

.slides__h1 {
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  color: #636c6c;
  font-weight: bold;
  line-height: 0.667; }

.portrait {
  border-radius: 50%; }

.slides__review {
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  color: #8c9494;
  font-style: italic;
  line-height: 1; }

.slides__name-user {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: #5dca88;
  line-height: 1; }

.slide1 {
  background-image: url(../img/bg-slider6.jpg); }

.slide2 {
  background-image: url(../img/bg-slider6.jpg); }

.slide3 {
  background-image: url(../img/bg-slider6.jpg); }

#slide1:checked ~ .slider6 > .slide1,
#slide2:checked ~ .slider6 > .slide2,
#slide3:checked ~ .slider6 > .slide3,
#slide4:checked ~ .slider6 > .slide4,
#slide5:checked ~ .slider6 > .slide5 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.wrapper6 > input {
  display: none; }

.wrapper6 .controls {
  left: 50%;
  margin-left: -98px;
  position: absolute; }

.wrapper6 label {
  cursor: pointer;
  display: inline-block;
  margin-left: 9px;
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s; }

.wrapper6 label:hover,
#slide1:checked ~ .controls6 label:nth-of-type(1),
#slide2:checked ~ .controls6 label:nth-of-type(2),
#slide3:checked ~ .controls6 label:nth-of-type(3),
#slide4:checked ~ .controls6 label:nth-of-type(4),
#slide5:checked ~ .controls6 label:nth-of-type(5) {
  background: #5dca88; }

.controls6 {
  text-align: center; }

.controls6-dots {
  background: #8c9494; }
  .controls6-dots:hover {
    background: #5dca88; }

.wrapper6 label:after {
  content: " ";
  display: block;
  left: -4px;
  position: absolute;
  top: -4px;
  border-radius: 50%;
  border: 0; }

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
.section-7 {
  min-height: 361px;
  background-color: #f3f5f5; }

.subs-form {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 70px;
  margin-top: 0; }

.email-ico {
  width: 43px;
  height: 37px;
  margin-bottom: 0; }

.subs-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 37px; }

.subs-form__header-head {
  padding-left: 23px;
  font-weight: 400;
  font-size: 36px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #8c9494;
  line-height: 0.667; }

.under-input {
  position: absolute;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Raleway', Arial, sans-serif;
  color: rgba(93, 202, 136, 0.659);
  line-height: 1;
  left: 605px; }

.subs-form__subs {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.subs-form__subs-email {
  border-radius: 50px 50px 50px 50px;
  border-style: solid;
  border-width: 2px;
  border-color: #bbc3c2;
  background-color: white;
  width: 741px;
  height: 61px;
  padding-left: 30px;
  font-size: 14px;
  color: #8c9494;
  line-height: 1.714;
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1; }

.subs-form__subs-submit {
  border-radius: 50px 50px 50px 50px;
  background-color: #5dca88;
  width: 172px;
  height: 66px;
  border-style: none;
  z-index: 1;
  margin-left: -171px;
  margin-top: 1px;
  font-size: 20px;
  font-family: 'Raleway', Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
  cursor: pointer; }

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */
.section-8 {
  min-height: 308px;
  background-color: #2d312f;
  background-size: cover;
  background-position: center top;
  opacity: 0.95;
  /* Полупрозрачный фон */ }

.footer__sect {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.footer__header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 76px;
  font-size: 24px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #8c9494;
  font-weight: 600; }

.footer__social-ico {
  padding-top: 39px;
  padding-right: 15px; }
  .footer__social-ico a {
    text-decoration: none; }
    .footer__social-ico a img {
      padding-left: 9px; }

.footer__contact-links {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 70px;
  padding-right: 45px;
  list-style: none;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__contact-links a {
    font-family: 'Raleway', Arial, sans-serif;
    color: #8c9494;
    text-decoration: none;
    padding-left: 18px; }
    .footer__contact-links a:hover {
      color: #5d9e9e;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s; }

/* --------------------------------------------- */
/* --------------------------------------------- */
