/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */

.section-6 {
    min-height: 560px;
}

#slider6 {
    text-align: center;
    min-height: 342px;
    min-width: 642px;
}

label, a {
	color: teal;
	cursor: pointer;
	text-decoration: none;
}
label:hover, 
a:hover {
	color: #000 !important;
}

//#slider6 {
//	margin: 0 auto;
//}

//.respond {
//	margin: 0 auto;
//	max-width: 370px;
//}



/* NEW EXPERIMENT */
/* Slider Setup */

input {
	display: none;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }


#overflow {
	width: 100%;
	overflow: hidden;
}

article img {
	width: 100%;
}

#slides .inner {
	width: 500%;
	line-height: 0;
}

#slides article {
	width: 20%;
	float: left;
}

/* Slider Styling */

/* Control Setup */

#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;

	label { 
		display: none;
		width: 50px;
		height: 50px;
		opacity: 0.3;
		transition: opacity 0.2s ease-out;

		&:hover {
			opacity: 0.8;
		}

	}	
}

/*
	#controls label { 
		display: none;
		width: 50px;
		height: 50px;
		opacity: 0.3;
	}
*/
#active {
	margin-top: 23%;
    margin-right: -105%;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;

	label {
		border-radius: 5px;
		display: inline-block;
		width: 10px;
		height: 10px;
		background: #8c9494;
		//background: #bbb;
	
		&:hover {
			background: #5dca88;
			border-color: #777 !important;
			transition: 0.7s;
			cursor: pointer;
		 ///background: #ccc;
		}

	}

}

/*
	#active label {
		border-radius: 5px;
		display: inline-block;
		width: 10px;
		height: 10px;
		background: #bbb;

		&:hover {
			background: #5dca88;
			border-color: #777 !important;
			transition: 0.7s;
			cursor: pointer;
		///background: #ccc;
		}
		
	}

	#active label:hover {
		background: #5dca88;
		border-color: #777 !important;
		transition: 0.7s;
		cursor: pointer;
	///background: #ccc;
	}


	#controls label:hover {
		opacity: 0.8;
	}
*/
#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url('images/next.png') no-repeat;
	float: right;
	margin: 0 -70px 0 0;
	display: block;
}


#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	background: url('images/prev.png') no-repeat;
	float: left;
	margin: 0 0 0 -70px;
	display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
	background: #5dca88;
	border-color: #333 !important;
 ///background: #333;
}

/* Info Box */

.info {
	line-height: 20px;
	margin: 0 0 -150%;
	position: absolute;
	font-style: italic;
	padding: 30px 30px;
	opacity: 0;
	color: #000;
	text-align: left;
}

.info h3 {
	color: #333;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 22px;
	font-style: normal;
}

/* Slider Styling */

#slides {
	margin-top: 0px;
	margin-right: -35%;
    margin-bottom: 0px;
    margin-left: 70%;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #fff;
	background: rgb(252,255,244); /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}


/* Animation */

#slides .inner {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider6 {
	transition: all 0.5s ease-out;
}

/*
	#controls label{
		transition: opacity 0.2s ease-out;
	}
*/

#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info {
	opacity: 1;
	transition: all 1s ease-out 0.6s;
}

.info, 
#controls, 
#slides, 
#active, 
#active label, 
.info h3, 
.desktop, 
.tablet, 
.mobile {
	transition: all 0.5s ease-out;
}

/* Respond Options */

#desktop:checked ~ #slider6 {
	max-width: 960px;
}

#tablet:checked ~ #slider6 {
	max-width: 850px;
}

#mobile:checked ~ #slider6 {
	max-width: 450px;
}

#desktop:checked ~ #slider6 .desktop,
#tablet:checked ~ #slider6 .tablet,
#mobile:checked ~ #slider6 .mobile {
	color: #777;
	opacity: 1;
}

.desktop, 
.tablet, 
.mobile {
	display: inline-block;
	width: 60px;
	height: 60px;
	padding-top: 50px;
	opacity: 0.35;
	font-size: 12px;
}

.desktop:hover, 
.tablet:hover, 
.mobile:hover {
	opacity: 0.2;
}

/*
	.desktop {
		//background: url('images/desktop.png') no-repeat;
	}

	.tablet {
		//background: url('images/tablet.png') no-repeat;
	}

	.mobile {
		//background: url('images/mobile.png') no-repeat;
	}
*/

/* Responsive Styling */

/* Tablet */

#tablet:checked ~ #slider6 #controls {
	margin: -25% 0 0 12%;
	width: 76%;
	height: 50px;
}

#tablet:checked ~ #slider6 #controls label {
	transform: scale(0.8);
}

#tablet:checked  ~ #slider6 #slides, 
#mobile:checked  ~ #slider6 #slides {
	padding: 1% 0;
	border-radius: 0px;
}

#tablet:checked ~ #slider6 #active {
	margin: 22% 0 0;
}

@media only screen and (max-width: 850px) and (min-width: 450px) {

	#slider6 #controls {
		margin: -25% 0 0 15%;
		width: 70%;
		height: 50px;
	}

	#slider6 #controls label {
		transform: scale(0.8);
	}

	#slider6 #slides {
		border-radius: 0px;
	}

	#slider6 #active {
		margin: 22% 0 0;
	}


/* Mobile */

#mobile:checked ~ #slider6 #controls {
	margin: -28% 0 0 24%;
	width: 50%;
	height: 50px;
}

#mobile:checked ~ #slider6 #active {
	margin: 23% 0 0;
}

#mobile:checked ~ #slider6 #slides .info {
	opacity: 0 !important;
}

#mobile:checked ~ #slider6 #controls label {
	transform: scale(0.6);
}

}
@media only screen and (max-width: 450px) {

	#slider6 #controls {
		margin: -28% 0 0 24%;
		width: 50%;
		height: 50px;
	}

	#slider6 #active {
		margin: 23% 0 0;
	}

	#slider6 #slides {
		padding: 1% 0;
		border-radius: 0px;
	}

	#slider6 #slides .info {
		opacity: 0 !important;
	}

	#slider6 #controls label {
		transform: scale(0.6);
	}

}
/* --------------------------------------------- */
/* --------------------------------------------- */