/* --------------------------------------------- */
/* --------------------------------------------- */
/* Section */
/* --------------------------------------------- */

.section-7 {
    min-height: 361px;
    background-color: rgb( 243, 245, 245 );
}

.subs-form {
    text-align: center;
    justify-content: center;
    padding-top: 70px;
    margin-top: 0;
    //margin-left: 38%;
}
.email-ico {
    width: 43px;
    height: 37px;
    margin-bottom: 0;
    //padding-top: 1.5%;
    //padding-top: 10px;
}
.subs-form__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}
.subs-form__header-head {
    padding-left: 23px;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Raleway', Arial, sans-serif;
    color: rgb( 140, 148, 148 );
    line-height: 0.667;
}

.under-input {
    position: absolute;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Raleway', Arial, sans-serif;
    color: rgba(93, 202, 136, 0.659);
    line-height: 1;
    left: 605px;
}
.subs-form__subs {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subs-form__subs-email {
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb( 187, 195, 194 );
    background-color: rgb( 255, 255, 255 );
    width: 741px;
    height: 61px;
    padding-left: 30px;

    font-size: 14px;
    color: rgb( 140, 148, 148 );
    line-height: 1.714;
    font-weight: 400;
    font-family: 'Raleway', Arial, sans-serif;
    z-index: 1;
    //width: 771px;
}
.subs-form__subs-submit {
    border-radius: 50px 50px 50px 50px;
    background-color: #5dca88;
    width: 172px;
    height: 66px;
    border-style: none;
    z-index: 1;
    margin-left: -171px;
    margin-top: 1px;

    font-size: 20px;
    font-family: 'Raleway', Arial, sans-serif;
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 400;
    cursor: pointer;
    //background-color: rgb( 93, 202, 136 );
}


/* --------------------------------------------- */
/* --------------------------------------------- */