/* ------------------------------------------------------------ */
@font-face {
  //font-family:  /* Имя шрифта */
  src: url(../fonts/ ); /* Путь к файлу со шрифтом */ }

@font-face {
  //font-family: ;  /* Имя шрифта */
  src: url(../fonts/ ); /* Путь к файлу со шрифтом */ }

@font-face {
  //font-family: ; /* Имя шрифта */
  src: url(../fonts/ ); /* Путь к файлу со шрифтом */ }

/* ------------------------------------------------------------ */